<div class="card shadow mb-4">
    <%= turbo_frame_tag dom_id(invoice) do %>
        <div class="card-body">
            <% if invoice.data.present? && (invoice.data.kind_of?(Hash) || invoice.data.kind_of?(Object)) %>
                <% invoice.data.keys.each do |key| %>
                    <% if key.include?('invoice') %>
                        <%= key %> = <%= invoice.data[key] %><br>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>