<h1>Clients</h1>
<%= link_to "Create New Client" , new_client_path , class: "btn btn-info" %>

<%= turbo_stream_from "clients" %>
<%= turbo_frame_tag "clients" do %>
  <%= render @clients %>
<% end %>