<html>
  <head>
 
  </head>
  <body><div class="area"></div><nav class="main-menu" id="demo" onmouseover="mouseOver()" onmouseout="mouseOut()">
            <ul>
                <li>
                    <a href="http://justinfarrow.com">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-users fa-2x"></i>
                        <span class="nav-text">
                            Clients
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-vcard fa-2x"></i>
                        <span class="nav-text">
                            Vendors
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="logout">
                <li>
                   <a href="/users/sign_out" data-method="delete">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav> 
  </body>
    </html>