<div class="accordion-invoice accordion" id="accordionExample_1">
    <div class="invoice-accordion-item accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="invoice-accordion-button accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Accordion Item #1
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample_2">
            <div class="invoice-accordion-body accordion-body">
                <strong>This is the first item's accordion body.</strong>
            </div>
        </div>
    </div>
    <div class="invoice-accordion-item accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="invoice-accordion-button accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Accordion Item #2
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample_3">
            <div class="invoice-accordion-body accordion-body">
                <strong>This is the first item's accordion body.</strong>
            </div>
        </div>
    </div>
    <div class="invoice-accordion-item accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="invoice-accordion-button accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Accordion Item #3
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample_4">
            <div class="invoice-accordion-body accordion-body">
                <strong>This is the first item's accordion body.</strong>
            </div>
        </div>
    </div>
    
</div>
