<div class="col-md-2 text-right">
    <%= link_to '' , client_vendors_path(vendor.client_id), class: "fa fa-arrow-left back_btn"%>
    <%= link_to '', fetch_data_client_vendor_path(vendor.client, vendor), method: :post, class: " fa fa-paper-plane ml-4 mr-3"%>
</div>