<%= turbo_frame_tag dom_id(document), class: "col-md-4" do %>
    <div class="card card_style mb-3">
        <% if document.data.present? && (document.data.kind_of?(Hash) || document.data.kind_of?(Object)) %>
            <% document.data.keys.each do |key| %>
                <% if key.include?('invoice') || key.include?('payment') %>
                    <%= key %> = <%= document.data[key] %><br>
                <% end %>
            <% end %>
        <% else %>
            No Data Found
        <% end %>
    </div>
<% end %>
