<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CashNow <sup>Middleware</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <% @side_menu_items.each do |menu_item| %>
        <li class="nav-item <%= request.original_fullpath.include?(menu_item[:key] || '')? 'active' : '' %>">
            <a class="nav-link" href="<%= menu_item[:link] %>">
                <i class="fas fa-fw <%= menu_item[:iconClass] %>"></i>
                <span><%= menu_item[:text] %></span>
            </a>
        </li>
    <% end %>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<script>
    if (window.location.href.indexOf("vendors") > -1) {
        document.getElementById("myCheck").style.color = "white"
        console.log("hello");
    }
</script>